$primario: #009FE3;
$prueba: #03A9F4;
$secundario: #0255A7;
$blanco: white;
$negro_primario: rgba(0,0,0,0.87);
$negro_secundario: rgba(0, 0, 0, 0.6);
$fondo: #F9F9F9;
$linea: #CACACA;
$gris_claro: #C8C8C8;
$gris_oscuro: #212121;
$border: #E4E4E4;
$verde: #00C853;
$verde1: #00C853;
$amarillo: #ffe15e;






// Variables para tamaños de media queries

$telefono: 320px;
$telef-tablet: 460px;
$tablet: 768px;
$desktop: 1024px;
