/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './custom-theme.scss';
@import "../src/app/mixins.scss";
@import "../src/app/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include box-sizing(border-box);
}
